 <!DOCTYPE html>

<html>
	<head>
    <meta charset="utf-8">
    <title>IBM Twitch Bot</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script>
			var socket = io('http://localhost:8000'); // Connect the socket on the port defined before.
			
			socket.on('current', function (question) { // When a 'current' event is received, execute the following code.
				console.log('received current question:', question);
				$('.current').text('current question: ' + question);
			});

			socket.on('previous', function (prevQ, prevA) { 
				console.log('received previous question:', prevQ, prevA);
				$('.previous').text('previous question: ' + prevQ + ' ' + prevA);
			});

			socket.on('leaderboard', function (leaderboard) {
				console.log('received updated leaderboard');
				var temp = leaderboard[0];
				$('.leaderboard').html(temp);
			});
		</script>
	</head>
  
	<body>
    <img src="/images/bee.png" alt="IBM Bee">
    
		<div class='top-banner'>
			IBM Developer - Quiz Break!
		</div>

		<div class='curr-question-box'>
			<h3 class='current'></h3>
		</div>

		<h3 class='previous'></h3>

		<div class='leaderboard-box'>
			<h3>Leaderboard</h3>
			<p class='leaderboard'></p>
		</div>

		<div class='prev-questions-box'>
			<h3>Previous Questions</h3>
		</div>

		<div class='promotions-box'></div>
		{{!-- <div class='container'></div>
		<div class='item-a'></div> --}}

		<div class="wrapper">
			<div class="box a">A</div>
			<div class="box b">B</div>
			<div class="box c">C</div>
			<div class="box d">D</div>
			<div class="box e">E</div>
			<div class="box f">F</div>
		</div>
  {{!-- 
  .center
	  .top3
		  .two.item
			  .pos 2
			  .pic style="background-image: url('https://randomuser.me/api/portraits/men/44.jpg')"
			  .name Edgar Soto
			  .score 6453
      .one.item
        .pos 1
        .pic style="background-image: url('https://randomuser.me/api/portraits/men/31.jpg')"
        .name Clifford James
        .score 6794
      .three.item
        .pos 3
        .pic style="background-image: url('https://randomuser.me/api/portraits/women/91.jpg')"
        .name Nevaeh Silva
        .score 6034
    .list
      .item
        .pos 4
        .pic style="background-image: url('https://randomuser.me/api/portraits/men/88.jpg')"
        .name Clayton Watson
        .score 5980
      .item
        .pos 5
        .pic style="background-image: url('https://randomuser.me/api/portraits/women/29.jpg')"
        .name Debbie Lane
        .score 5978
      .item
        .pos 6
        .pic style="background-image: url('https://randomuser.me/api/portraits/women/85.jpg')"
        .name Gabriella Steward
        .score 5845
      .item
        .pos 7
        .pic style="background-image: url('https://randomuser.me/api/portraits/women/39.jpg')"
        .name Nina Perkins
        .score 5799
      .item
        .pos 8
        .pic style="background-image: url('https://randomuser.me/api/portraits/men/77.jpg')"
        .name Dennis Henry
        .score 5756
      .item
        .pos 9
        .pic style="background-image: url('https://randomuser.me/api/portraits/women/49.jpg')"
        .name Courtney Fuller
        .score 5713
      .item
        .pos 10
        .pic style="background-image: url('https://randomuser.me/api/portraits/women/30.jpg')"
        .name Joan Wood
        .score 5674
	 --}}
	</body>
</html>
