<!DOCTYPE html>

<html>
	<head>
    <meta charset="utf-8">
    <title>IBM Twitch Bot</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script>
			var socket = io('http://localhost:8000'); // Connect the socket on the port defined before.
			socket.on('current', function (question) { // When a 'current' event is received, execute the following code.
				console.log('received new question', question);
				$('.current').text('current question: ' + question);
			});
			socket.on('previous', function (prevQ, prevA) { 
				console.log('received previous question and answer', prevQ, prevA);
				$('.previous').text('previous question: ' + prevQ + ' ' + prevA);
			});
		</script>
	</head>
  
	<body>
    <img src="/images/bee.png" alt="IBM Bee">
    
	<div class="IBM-Dev-Background-Box"/>
	<div class="IBM-Dev-Text"/>
		<div>IBM Developer:      Quiz  Break!</div>
	<div class="Question-Box"/>

    <h1>hello ibm quiz time</h1>
    <h2>woot woot</h2>

    <h3 class='current'></h3>

    <h3 class='previous'></h3>
  </body>
</html>