<!DOCTYPE html>
<html>

<head>
    title = title
    <meta charset="utf-8">
    <title>IBM Twitch Bot</title>
    <!-- <style>
            IBM RGB : 75 107 175 
            h2{

            }
        </style> -->
        <script>
            setTimeout(function(){
                 // location.reload();
                 $.get("/api", function(data){
                     somestuff;
                     $(#questions).text(data.question)

                 }); 
            }, 1000);
            
        </script>
        
    </head>
    <body>
        <h1>Question <p class="question">{{question}}</p></h1>
        <h3> ...The question</h3><br>
        <h2>Leader Board</h2>

        <pre id="incremental"></pre>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script>
            var socket = io('http://localhost:8080'); // Connect the socket on the port defined before.

            socket.on('update-value', function (value) { // When a 'update-value' event is received, execute the following code.
                console.log('received new value', value);

                $('#incremental').html(value);
            });
        </script>

    </body>
</html>