<!DOCTYPE html>

<html lang='en'>
	<head>
    <meta charset="utf-8">
    <title>IBM Twitch Bot</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/style.css"/>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@300;500&display=swap" rel="stylesheet">		
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script>
			var socket = io(); // Connect the socket on the port defined before.
			
			socket.on('current', function(question) { // When a 'current' event is received, execute the following code.
				console.log('received current question:', question);
				$('.current').html("<span class='bold'>Current question:</span> " + question);
			});
			
			socket.on('previous', function(questions) { 
				console.log('received updated previous questions',);
				var table = $('#previous');
				table.empty();
				questions.forEach((question) => {
					var tr = $('<tr>');
					tr.append('<td>' + question.question + ' ' + "<span class='bold'>" + question.answer + "</span>");
					console.log(tr);
					table.append(tr);
				});
			});

			socket.on('leaderboard', function(leaderboard) {
				console.log('received updated leaderboard');
				var table = $('.leaderboard');
				table.empty();
				leaderboard.forEach((user) => {
					var tr = $('<tr>');
					['user', 'score'].forEach(function(attr) {
						tr.append('<td>' + user[attr] + '</td>');
					});
					table.append(tr);
				});
			});
		</script>
	</head>
  
	<body>    
		<div class='top-banner'>
			IBM Developer - Quiz Break!!
		</div>

		<div class='curr-question-box'>
			<p class='current'></p>
		</div>

		<div class='leaderboard-box'>
			<h3>Leaderboard</h3>
			
			<table class='table table-striped'>
				<thead>
					<tr>
						<th scope='col'>User</th>
						<th scope='col'>Score</th>
					</tr>
				</thead>
				<tbody class='leaderboard'></tbody>
			</table>
		</div>

		<div class='prev-questions-box'>
			<h3>Previous Questions</h3>

			<table class='table table-striped' id='previous'>
			</table>
		</div>

		<div class='promotions-box'></div>
	
	</body>
</html>
