<!DOCTYPE html>
<html>
    <head>
        Questions = Questions
        <meta charset = "utf-8">
        <title>IBM Twitch Bot</title>
        <!-- <style>
            IBM RGB : 75 107 175 
            h2{

            }
        </style> -->
        
    </head>
    <body>
        <h1>Question <span>{{Questions}}</span></h1>
        <h3> ...The question</h3><br>
        <h2>Leader Board</h2>
        <script></script>

    </body>
</html>