<!DOCTYPE html>

<html>
	<head>
		{{!-- Questions = Questions
		<meta charset="utf-8">
		<title>IBM Twitch Bot</title>
		<style>
				QTitle {
						color: white;
						background-color: black;
				}
		</style> --}}

	</head>

	<body>
		{{!-- background-color: rgb(75, 107, 175)
		<h1 class="QTitle">Question <span>{{Questions}}</span></h1>
		<h3> ...The question</h3><br>
		<h2>Leader Board</h2>
		<script></script> --}}

	</body>
</html>